


<nav class="mt-2">
	<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
		<li class="nav-item">
			<a class="nav-link" asp-area="Admins" asp-controller="Home" asp-action="ThongKe">
				<p>
					Thống kê

				</p>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="Admins" asp-controller="TaiKhoans" asp-action="Index">
				<p>
					Tài Khoản

				</p>
			</a>
		</li>
		@*  <li class="nav-item">
		<a class="nav-link" asp-area="Admins" asp-controller="MucDoes" asp-action="Index">
		<p>
		Mức độ

		</p>
		</a>
		</li> *@
		<li class="nav-item">
			<a class="nav-link" asp-area="Admins" asp-controller="BaiTests" asp-action="Index">
				<p>
					Bài Test

				</p>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="Admins" asp-controller="DeThis" asp-action="Index">
				<p>
					Đề thi

				</p>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="Admins" asp-controller="Cauhois" asp-action="Index">
				<p>
					Câu hỏi

				</p>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="Admins" asp-controller="TraLois" asp-action="Index">
				<p>
					Trả lời

				</p>
			</a>
		</li>
		@* <li class="nav-item">
		<a class="nav-link" asp-area="Admins" asp-controller="DtChes" asp-action="Index">
		<p>
		Đề thi-Câu hỏi

		</p>
		</a>
		</li> *@
		<li class="nav-item">
			<a class="nav-link" asp-area="Admins" asp-controller="Chuongs" asp-action="Index">
				<p>
					Chương

				</p>
			</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" asp-area="Admins" asp-controller="Mucdoes" asp-action="Index">
		<p>
		Mức độ

		</p>
		</a>
		</li>

	</ul>
</nav>